*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item{
    background-color: lightgray;
    display: none;
    height: 20rem;
    width: 45rem;
}

.active{
    display: block;
}

.thumbs{
    position: relative;
}

.up{
    top: 0.5rem;
}

.down{
    bottom: 0.5rem;
}

.arrow{
    background-color: lightgray;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.1rem 0.25rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.thumbs .thumb{
    height: 4rem;
    width: 10rem;
}

.thumbs img{
    filter: brightness(0.3);
    position: relative;
    bottom: 4r;
}

.thumbs .selected{
    filter: brightness(400%);
}

.title{
    position: relative;
    height: 80px;
    bottom: 5rem;
    padding: 0 1rem;
    color: white;
    text-align: right;
}

.title:hover{
    background-color: rgba(0, 0, 0, 0.6);
}